/* ***********************************
                GENERAL
*************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: transparent;
    position: absolute;
    top:0;
    z-index: 2;
    width: 100%;
}

/* ***********************************
                NAVBAR
*************************************/
.navbar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0 3em;
    margin: 0 5em;
    border-bottom: 0.5px solid grey;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    align-self: center;
}

.hamburger-menu {
    display:none;
}

.navbar ul a{
    text-decoration: none;
    color:white;
    padding: 1em 1em 2.2em 1em;
    font-size: 1.1em;
}

.navbar ul a:hover, .navbar ul a:active {
    border-bottom: 1px solid white;
}

.logo-container img{
    height: 6em;
    padding: 1em;
}

/* ***********************************
            INTRO SECTION
*************************************/
.intro {
    background-image: url('../img/17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 35em;
    background-position: top center;
    color: white;
    padding: 10em 5em;
}

h1 {
    font-size: 2em;
    width: 40%;
    line-height: 1.5em;
}

/* ***********************************
            SEARCH FORM
*************************************/

select {
    border: 1px solid grey;
    border-radius: 0.2em;
    padding: 0.4em;
}

.date {
    background-image:url('../img/calendar.png');
    background-position: 5% 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border: 1px solid grey;
    border-radius: 0.2em;
    padding: 0.5em;
}

.date::placeholder {
    padding-left: 1.5em;
}

.btn-search {
    display: inline-block
}

.search {
    background-color: #EE875E;
    color: white;
    font-weight: bold;
    padding: 0.5em 1em;
    border: none;
    margin-left: 1em;
}

.search:hover {
    background-color: rgb(245, 103, 47);
    cursor: pointer;
}

.search-form {
    margin-top: 2em;
    padding: 1em;
    background-color: rgba(178, 144, 54,0.7);
    display: inline-block;
}

.search-form p {
    margin-bottom: 1em;
}

/* ***********************************
            ABOUT SECTION
*************************************/
.about-us {
    padding: 0 3em;
}

.about-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding:0 2em;
    text-align: center;

}

.about-container p i {
    color: #EE875E;
    padding: 0.5em 0;
    display: block;
    border: 1px solid #EE875E;
    width: 2.1em;
    border-radius: 100%;
    margin: 0.5em auto;
}

.about-container p {
    width: 10em;
    margin: 0 auto;
    font-size: 1.2em;
    color: #3D3C4A;
}

/* ***********************************
        INFORMATIONAL SECTION
*************************************/
.information-container {
    margin: 2em 5em;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 2em auto;
    width: 70%;
}

.info-img-wrapper {
    text-align: center;
}

.info-img {
    width: 80%;
    border: 0px solid transparent;
    border-radius: 1em;
    box-shadow: 0 0 0.5em grey;
}

.info-text{
    color: #3D3C4A;
    font-size: 1.1em;
    padding: 0 1em;
    line-height: 1.3em;
}

.information-container iframe {
    width: 90%;
    height: 14em;
    border: 0px solid transparent;
    border-radius: 1em;
    box-shadow: 0 0 0.5em grey;
    margin-left: 1.5em;
}

h3 {
    margin-bottom: 1em;
    color: #016FB9;
}

/* ***********************************
            BANNER SECTION
*************************************/
.banner {
    background-image: url(../img/16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20em;
    padding: 2em;
    margin: 2em 0;
}

.signup-btn {
    background-color: transparent;
    color:white;
    border: 1px solid white;
    padding: 1em;
    display: block;
    width: 8em;
    text-decoration: none;
    text-align: center;
    margin:1em 2.3em;
}


.banner h2 {
    color:white;
    text-align: left;
    margin-bottom: 1em;
}

.banner p{
    color: white;
    padding-left: 2.3em;
    font-size: 1.2em;
}

/* ***********************************
              PROMOTIONS
*************************************/

.promotions {
    margin: 2em;
}

h2{
    text-align: center;
    margin: 2em;
    line-height: 1.4em;
    color: #89023E;
}

.promotions-container {
    color:white;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:1.3em;

    cursor: pointer;

}

.offer-container:hover {
    transform: scale(1.1);
}

.promotions-container .price {
    font-weight: bold;
}

.promotions-container img{
    width:18em;
    height: 15em;
    border: 0px solid transparent;
    border-radius: 1em;
    box-shadow: 0 0 0.5em grey;
    margin: 0.3em;
    
}

.offer-container p{
    padding-left:0.5em;
}

.promotions-container p {
    color: black;
}

.promotions-container .title {
    font-size: 1.2em;
    margin:0.4em 0;
    font-weight: bold;
}

.description {
    margin-bottom:0.4em;
}

.price-container {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 0.4em;
}

.promotions-container .valid {
    color:#016FB9;
    font-weight: bold;
}

/* ***********************************
               FOOTER
*************************************/
footer{
    background-image: url(../img/3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;
    padding: 5em 0 0 0;
    height: 25em;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 5em;

}

footer ul {
    list-style-type: none;
}

footer ul li{
    margin-bottom: 1.3em;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

footer ul li a:hover {
    color: #EE875E;
}

.newsletter p{
    margin-bottom: 1em;   
    line-height: 1.2em;
}

.f-heading {
    font-size: 1.5em;
    font-weight: bold;
}

.newsletter input {
    /* */
    padding: 0.5em;
    margin-bottom: 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 80%;
}

.subs-btn {
    margin-left: -1em;
    padding: 0.5em 0.7em;
    margin-bottom: 2em;
    border:1px solid #016FB9;
    border-radius: 3px;
    background-color: #016FB9;
    color: white;
}

.subs-btn:hover {
    background-color: rgb(4, 83, 136);
    cursor: pointer;
}

.social-media a{
    text-decoration: none;
    color:white;
    font-size: 2em;
    padding:0.25em;
}

.social-media a:hover{
    color:#EE875E;
}

.copyright {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.384);
    text-align: center;
}



/* ***********************************
            MEDIA QUERIES
*************************************/

@media only screen and (max-width: 64em) {

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .navbar ul{
        display: none;
    }

    .hamburger-menu {
        display: flex;
        padding: 1em;
        align-self: center;
    }

    .hamburger-menu button {
        color: white;
        border: none;
        background-color: transparent;
    }

    .hamburger-menu:hover {
        cursor: pointer;
    }
}